@page
@model Galerie_Arta_Web.Pages.Artisti.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artist.ID" />
            <div class="form-group">
                <label asp-for="Artist.Nume" class="control-label"></label>
                <input asp-for="Artist.Nume" class="form-control" />
                <span asp-validation-for="Artist.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist.Prenume" class="control-label"></label>
                <input asp-for="Artist.Prenume" class="form-control" />
                <span asp-validation-for="Artist.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist.DataNasterii" class="control-label"></label>
                <input asp-for="Artist.DataNasterii" class="form-control" />
                <span asp-validation-for="Artist.DataNasterii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist.DataDeces" class="control-label"></label>
                <input asp-for="Artist.DataDeces" class="form-control" />
                <span asp-validation-for="Artist.DataDeces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist.Nationalitate" class="control-label"></label>
                <input asp-for="Artist.Nationalitate" class="form-control" />
                <span asp-validation-for="Artist.Nationalitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
